<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

<body class="bg-light d-flex align-items-center" style="height: 100vh;">

  <!-- <img src="/assets/Organization.jpg" class="main-img" alt="Menu Image"> -->

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card shadow-lg p-4">
          <div class="text-center mb-4">
            <img src="https://cdn-icons-png.flaticon.com/512/747/747376.png" alt="User Icon" width="70">
            <h4 class="mt-2">Login to Employee Panel</h4>
          </div>

        <form #loginForm="ngForm" (ngSubmit)="onLogin()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" ngModel required />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" ngModel required />
    </div>

    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>

        </div>
      </div>
    </div>
  </div>

</body>