
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<div class="position-relative">
  <img src="/assets/Organization.jpg" class="main-img" alt="Menu Image">
  <h1 class="main-title">Employee Information Panel</h1>
 <h6 class="small-title text-secondary p-2 bg-light rounded shadow-sm" style="font-size: 15px;">
  The Employee Information Panel helps store and manage details about employees in one place. It shows each employee’s name, contact, job role, salary, location, and the project they are working on. This panel makes it easy for HR and managers to add, update, or view employee records quickly. It helps the organization keep track of all employee data in an organized and clear way.
</h6>
  
 <button id="one" type="button"  (click)="getStarted()">Login</button> 


</div>
